*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock{
    height: 500px;
    width: 500px;
    background: url("img.1.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

/* COMMON needle behavior */
#hour, #minute, #second{
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: bottom center;
    transform: translate(-50%, -100%);
}

/* DIFFERENT sizes */
#hour{
    height: 120px;
}

#minute{
    height: 180px;
}

#second{
    height: 220px;
}
