*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock{
    height: 500px;
    width: 500px;
    background: url("img.1.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

/* All hands */
#hour, #minute, #second{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom center;
    transform: translateX(-50%);
}

/* Different sizes */
#hour{
    height: 120px;
}
#minute{
    height: 170px;
}
#second{
    height: 210px;
}
