* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}

.clock {
    width: 400px;
    height: 400px;
    background: url("clock.png") no-repeat center;
    background-size: cover;
    position: relative;
}

/* All hands */
#hour, #minute, #second {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom center;
    transform: translateX(-50%);
}

/* Adjust sizes if needed */
#hour   { height: 100px; }
#minute { height: 140px; }
#second { height: 170px; }
