*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 

#clock{
    width: 500px;
    height: 500px;
    background: url("img.1.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}


#hour, #minute, #second{
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50% 100%; /* bottom center */
}


#hour{
    height: 110px;
    transform: translate(-50%, -100%);
}

#minute{
    height: 170px;
    transform: translate(-50%, -100%);
}

#second{
    height: 210px;
    transform: translate(-50%, -100%);
}

